.pre-header {
    background-color: #262626;
    width: 100%;
}

.box-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1170px;
    height: 44px;
    padding: 0 1rem;

    gap: 0.5rem;
}

.services-list,
.tools-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.box-list a {
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

.box-list ul {
    display: flex;
}

.box-list li {
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

.box-list li a {
    color: #FFF;

    text-decoration: none;
    font-size: 13px;
}

.box-list li:hover {
    background-color: #404040;
}

.box-list img {
    width: 68px;
    height: auto;
    transition: filter 0.2s ease;
}

.box-list img:hover {
    filter: brightness(95%);
}

.first-items {
    flex-grow: 2;
    height: 100%;
    display: flex;
}

.items-list {
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.second-items {
    height: 100%;
}

.second-items ul {
    display: flex;
    justify-content: space-between;
}

.second-items li a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .box-list {
        max-width: 1000px;
    }

    .first-items,
    .second-items {
        display: none;
    }

    .box-list {
        justify-content: center;
    }

    .first-items ul li:nth-child(5) {
        display: none;
    }

    .box-list img {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .box-list nav {
        display: none;
    }

    .box-list img {
        margin: 0;
    }

    .desktop-only {
        display: none;
    }
}