.recover_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}

.recover_content {
    display: flex;
    align-items: start;
    flex-direction: column;

    width: 60vw;
    gap: 2rem;
}

.recover_content h1 {
    color: #444444;
    font-weight: 300;
    font-size: 1.6rem;
}

.recover_route {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 14px;
}

.recover_route a {
    color: #0070AB;
}

.recover_route span {
    color: #9999A6;
}

.recover_route img {
    width: 1rem;
}

.recover_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.recover_form span {
    color: #666666;
}

.recover_form button {
    cursor: pointer;
}

.recover_form_input {
    display: flex;
    gap: 0.2rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.recover_form_input input {
    width: 33rem;
    height: 40px;

    border: 1px solid #efefef;
    padding: 1rem;
    border-radius: 4px;
}

.recover_form_input img {
    width: 2rem;
}

.recover_form_input button {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 41px;
    width: 44px;

    background-color: #FFF;
    border: 1px solid #efefef;
    border-radius: 4px;
}

.recover_form_buttons {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}

.recover_form_buttons button {
    height: 40px;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
}

.recover_form_button_goback {
    background-color: white;
    border: 1px solid #0070AB;
    color: #0070AB;
}

.recover_form_button_continue {
    background-color: #FFCE00;
    border: none;
}

.recover_form_button_goback:hover {
    background-color: #0070AB;
    color: #FFF;
}

@Media screen and (max-width: 768px) {

    .recover_content {
        width: 90vw;
    }

    .recover_form_buttons {
        flex-direction: column;
    }
}